/*header starts here*/

.topbarflex{
	display:flex;
	justify-content:space-between;
	align-items:center
}
.container{
	background-color:white;
	height:60px;
	width:100%;
	box-shadow:0px 10px rgb(0, 0, 0, 10%), 0 0 0 0 rgb(0, 0, 0, 19%);
}
.menu a{
	color:black;
	text-decoration:none;
	padding:30px;
	font-size:15px;
	font-weight:700;
	font-family: 'Roboto', sans-serif;
	/*font-family: 'Source Serif Pro', serif;*/
}
a:hover{
	background-color:#97f4f7;
}
a:active{
	background-color:green;
}
.mark marquee{
	background-color:green;
	padding:15px;
	font-size:20px;
	color:white;
}
.mark{
	width:100%;
	margin-top:6px;
}
.banner img{
	width: -webkit-fill-available;
}


/*header end here*/

/* main start here*/

.qcontainer{
	position:relative;
}
.qlinkflex{
	display:flex;
	justify-content:center;
	align-items:center;
}
.qlink h2{
	font-size:23px;
	font-weight:700;
	text-align:center; 
	border-bottom:2px solid green;
}
.qimgcontainer{
	display:flex;
	padding:0.6%;
	box-shadow:0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
	border-radius:18px;
}
.qfirst{
	flex-basis:30%;
}
.qfirst img{
	flex-basis:400%;
	position:relative;
	left:1%;
	height:100%;
	width:100%;
}
.qfcont{
	flex-basis:520px;
	margin: 0 1% 0 5%;
	padding: 0 0 2% 0;
}
.qimgcontainer2{
	display:flex;
	margin: 3% 0 0 0;
	box-shadow:0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
	border-radius:18px;
}
.qsecond{
	flex-basis:20%;
}
.qfcont2{
	flex-basis: 66%;
	padding:2%;
}
.qsecond img{
	position: relative;
    flex-basis: 400%;
    height: 80%;
    width: 100%;
    right: -42%;
	margin: 8% 0 0 0;
}
.qimgcontainer3{
	display:flex;
	padding:0.6%;
	margin:4% 0 0 0;
	box-shadow:0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
	border-radius:18px;
}
.qthird{
	flex-basis:20%;
}
.qthird img{
	flex-basis:400%;
	position:relative;
	left:1%;
	height:100%;
	width:100%;
}
.qfcont3{
	flex-basis:520px;
	margin: 0 1% 0 5%;
	padding: 0 0 2% 0;
}
.qimgcontainer4{
	display:flex;
	margin: 3% 0 0 0;
	box-shadow:0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
	border-radius:18px;
}
.qfour{
	flex-basis:20%;
}
.qfcont4{
	flex-basis: 66%;
	padding:2%;
}
.qfour img{
	position: relative;
    flex-basis: 400%;
    height: 80%;
    width: 100%;
    right: -42%;
	margin:8%0 0 0;
}

/* main section end here*/

/* Footer start here*/
.contact{
	margin-top:20px;
	background-size:cover
	background-repeat:no-repeat;
	background-image:url(../img/map.jpg);
	height:50vh;
}
.contactflex{
	display:flex;
	justify-content:center;
}
.contcont p{
	font-size:25px;
	border-bottom:2px solid white;
	color:white;
	margin:20px 0 0 0;
}
.icon{
	display:flex;
	justify-content:space-around;
	margin:40px 0 0 0;
}
.fa{
	padding:20px;
	font-size:40px;
	color:white;
}
em{
	font-size:18px;
	font-weight:700;
	color:white;
	margin:auto;
	text-align:center;
}
.ico3{
	text-align:center;
}
.bar{
	display:flex;
	align-items:center;
	justify-content:space-around;
	background-color:#384552;
	height:10vh;
}
/* Footer finish here */
/*css for button*/
.button{
	background-color:green;
	color:white;
	box-shadow:0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
	padding: 8px;
	font-weight:700;
    border-radius: 20px;
	
}

